$color-primary: hsl(223, 87%, 63%);
$color-secondary-blue: hsl(223, 100%, 88%);
$color-seconday-red: rgb(255, 82, 99);
$font-size: 20px;
$font-family: "Libre Franklin";
$font-weights: ( "regular": 300, "medium": 600, "large": 700, );
$mobile-min: 320px;
$mobile-max: 480px;